<!--Header file that sets up the header for every page to ensure it is uniform-->

<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8">
    <title>What's In The Fridge?! A Healthy Recipe Finder</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
 
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Creators"><span  class="glyphicon glyphicon-info-sign" style="padding-right:5px"></span>Learn More About the Creators</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/Learn_App"><span class="glyphicon glyphicon-info-sign" style="padding-right:5px"></span>Learn More About the App</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/Find_Recipe"><span class="glyphicon glyphicon-search" style="padding-right:5px"></span>Find a Recipe</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/index"><span class="glyphicon glyphicon-home" style="padding-right:5px"></span>Home</a></li>
        <li><a href="/FAQ"><span class="glyphicon glyphicon-search" style="padding-right:5px"></span>FAQ</a></li>
        <li><a href="/Log_In"><span class="glyphicon glyphicon-log-in" style="padding-right:5px"></span> Log In</a></li>
        </ul>
    </div>
</div>
 
<div class="container">
