<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8">
    <title>What's In The Fridge?! A Healthy Recipe Finder</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
 
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Creators">Learn More About the Creators</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/Learn_App">Learn More About the App</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/Find_Recipe">Find a Recipe</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/food_buttons">Testing Food Buttons</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/food_list">Testing Food List</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/index">Home</a></li>
        <li><a href="/FAQ">FAQ</a></li>
        <li><a href="/Log_In">Log In</a></li>
        </ul>
    </div>
</div>
 
<div class="container">
