<%- include('../_partial/_header'); %>

    <head>
        <title>Learn  More About the Creators</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>

      <body>

        <div class="jumbotron text-black text-center">
            <h1>Learn More About the Creators" </h1> <br>

            <h3> Bobby Galbraith:<small>Insert bio here</small></h3>

            <h3> Mary Galbraith:<small>Insert bio here</small></h3>

            <h3> Abbie Ginman: <small> Hello! My name is Abbie and I am a fourth year Computer Engineering major at Michigan Tech. This website was
              made as our team project for CS 3411 and is useful for finding healthy recipes based on what food items you have. Throughout the development
              of this website I have learned software development skills and become a better collaborator. I hope you can enjoy the work we have done.
            </small></h3>

            <h3> Finley Green:<small>Insert bio here</small></h3>

            <h3> Mark Halonen:<small>Insert bio here</small></h3>
        
        
        </div>

      </body>

<%- include('../_partial/_footer'); %>