<%- include('../_partial/_header'); %>

    <head>
        <title>Learn  More About the Creators</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>

      <body>

        <div class="jumbotron text-black text-center">
            <h1>Learn More About the Creators </h1> <br>

            <h3> Bobby Galbraith:<small>Hello! My name is Robert Galbraith, and I'm pursing a second BS in Computer Science. I initially got my first degree in Chemical Engieering from MTU. This project showed my lack of understanding how different lanuages interact with the front-end and back-end. However, I did learn a lot about HTML, Node, and MySQL and will continue to study these languages in my free-time.</small></h3>

            <h3> Mary Galbraith:<small> Hi! I am Mary Galbraith, and I am a junior/senior in the Computer Science program here at MTU. A fun
              fact about me is that I previously earned my degree in Chemical Engineering back in 2019 also from MTU and worked in aerospace before 
              deciding to come back for a second degree. This website has been honestly been a giant pain in my and my group's butt. However, with that being
              said, it has been a great challenge, and I have learned a ton about HTML and JavaScript during it, and I will remember "What's In The Fridge?!" fondly. 
            </small></h3>

            <h3> Abbie Ginman: <small> Hello! My name is Abbie and I am a fourth year Computer Engineering major at Michigan Tech. This website was
              made as our team project for CS 3141 and is useful for finding healthy recipes based on what food items you have. Throughout the development
              of this website I have learned software development skills and become a better collaborator. I hope you can enjoy the work we have done.
            </small></h3>

            <h3> Finley Green: <small> I am Finley Green, a second year Computer Science major at Michigan Tech! The development of this website during 
              CS 3141 has involved a large learning curve for many of us, but has been a fun challenge to take on. This website is by no means perfect, 
              but it has served a good purpose as a first of many projects.
            </small></h3>

            <h3> Mark Halonen:<small>I am Mark Halonen, a CS major here at Michigan Tech. I came into this project with a minimal amount
              of HTML experience so I learned a lot during this project. It was fun to work on an actual project in school for a change of pace.
            </small></h3>
        
        
        </div>

      </body>

<%- include('../_partial/_footer'); %>