<%- include('../_partial/_header'); %>

    <head>
        <title>Frequently Asked Questions (FAQ) </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>

      <body>

        <div class="container-fluid p-5 text-black text-center">
            <h1>Frequently Asked Questions (FAQ) </h1> <br>
        </div>

        <div class="container">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Q1">How is "What's in the Fridge?!" different from other recipe finder sites?</a>
                  </h4>
                </div>
                <div id="Q1" class="panel-collapse collapse in">
                  <div class="panel-body">Answer Q1</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Q2">What is a "healthy" recipe?</a>
                  </h4>
                </div>
                <div id="Q2" class="panel-collapse collapse">
                  <div class="panel-body">Answer Q2</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Q3">Q3</a>
                  </h4>
                </div>
                <div id="Q3" class="panel-collapse collapse">
                  <div class="panel-body">Answer Q3</div>
                </div>
              </div>
            </div> 
          </div>


      </body>
<%- include('../_partial/_footer'); %>