<%- include('../_partial/_header'); %>

    <head>
        <title>Frequently Asked Questions (FAQ) </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>

      <body>

        <div class="container-fluid p-5 text-black text-center">
            <h1>Frequently Asked Questions (FAQ) </h1> <br>
        </div>

        <div class="container">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Q1">How is "What's in the Fridge?!" different from other recipe finder sites?</a>
                  </h4>
                </div>
                <div id="Q1" class="panel-collapse collapse in">
                  <div class="panel-body">"What's in the Fridge?!" aims to simplify the process that other recipe websites may use. We hope to offer healthy recipe options with only the top 5 results in order to make it less overwhelming for the user.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Q2">What is a "healthy" recipe?</a>
                  </h4>
                </div>
                <div id="Q2" class="panel-collapse collapse">
                  <div class="panel-body">A healthy recipe is one that puts the user first and only contains what are to be considered healthy ingredients/</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Q2">Are there such a thing as good carbs?</a>
                  </h4>
                </div>
                <div id="Q2" class="panel-collapse collapse">
                  <div class="panel-body">Low glycemic index carbs are great for you! Oatmeal is a great example.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Q3">Is Keto Healthy?</a>
                  </h4>
                </div>
                <div id="Q3" class="panel-collapse collapse">
                  <div class="panel-body">Keto can be a great way to shed weight but you should be cautious because it can be hard on your liver as you are consuming a lot of fats.</div>
                </div>
              </div>
            </div> 
          </div>


      </body>
<%- include('../_partial/_footer'); %>