<%- include('../_partial/_header'); %>

 
    <h1> Begin Your Recipe-Search Here! </h1>

    <br>

    <label for="filter-options">Select From Food Category Filters:</label>
    <select name="filter-options" id="filter-options">
        <option value="All">All Food Categories</option>
        <option value="Protein">Protein</option>
        <option value="SQL">SQL Database Food Catgories</option>
    </select>

    <br>

    <!--Need to add functionality to change background color > see below javascript code; maybe add boolean that can be updated on button click?-->
    <button  onclick="foodClick()" id="btn" style="margin:5px; background-color: white; border-radius: 5px;" >Food Item 1</button>
    <button  onclick="foodClick()" id="btn" style="margin:5px; background-color: white; border-radius: 5px;" >Food Item 2</button>
    <button  onclick="foodClick()" id="btn" style="margin:5px; background-color: white; border-radius: 5px;" >Food Item 3</button>
    <button  onclick="foodClick()" id="btn" style="margin:5px; background-color: white; border-radius: 5px;" >FROM DATABASE</button>

    <br>
    <br> 
    
    <!--Need to add functionality/logic to send data from above clicked buttons to an array and refresh to new page-->
    <label for="Go">Added All Your Food Items? Click Here:</label>
    <a href = "/Recipe_Display" > <!--When pressed, it will navigate to a different view to display the recipies; /Recipe_Display has NOT been created yet-->
        <button type="button" id="Go" style="margin:5px; color: black" onclick="goClick()">Submit</button>
    </a>

    <p id="test"> Clicked On?</p>

    <script>
        // MEG 11/2/2022 Going to watch to figure out this function https://www.youtube.com/watch?v=DABVLJjnVUs&ab_channel=dcode
        function foodClick() { // not working
            //const element = document.getElementById("test");
            document.getElementById("test").innerHTML = "Been Clicked!";
        }


        function goClick() { // not working
        const element = document.getElementById('Go');
        const style = getComputedStyle(element);
        console.log(style.backgroundColor);
    }
    </script>

<%- include('../_partial/_footer'); %>
