<%- include('../_partial/_header'); %>

    <h1> Begin Your Recipe-Search Here! </h1>

    <br>

    <label for="filter-options">Select From Food Category Filters:</label>
    <select name="filter-options" id="filter-options">
        <option value="All">All Food Categories</option>
        <option value="Protein">Protein</option>
        <option value="SQL">SQL Database Food Catgories</option>
    </select>

    <br>

    <button type="button" style="margin:5px">Food Item 1</button>
    <button type="button" style="margin:5px">Food Item 2</button>
    <button type="button" style="margin:5px">Food Item 3</button>
    <button type="button" style="margin:5px">Food Items Continued from SQL Database</button>

    <br>
    <br> 
    
    <label for="Go">Added All Your Food Items? Click Here:</label>
    <button type="button" style="margin:5px">Submit</button>

<%- include('../_partial/_footer'); %>