<%- include('../_partial/_header'); %>

    <head>
        <title>Home Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>

      <body>

        <div class="container-fluid p-5 text-black text-center">
            <h1><strong><u>Welcome to "What's in the Fridge?!"</u></strong></h1> <br>

            <img class ="img-thumbnail" src="https://clipartix.com/wp-content/uploads/2018/03/fridge-clipart-2018-16.jpg" alt="Fridge" width = "608" height = "472">

            <h3><em>Please select the 'Find a Recipe' text above to begin your search for a healthy meal!</em></h3>
        
        
        </div>

      </body>

<%- include('../_partial/_footer'); %>