<%- include('../_partial/_header'); %>

    <head>
        <title>How to Use this App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>

      <body>

        <div class="jumbotron text-black text-center">
            <h1>How to Use this App </h1> <br>

            <h3>Tired of throwing away food because you don't know what to make?</h3> 
            <h3>Trying to make healthier food choices?</h3> 
            <h3>Just looking for new and interesting recipes to create using food in your own fridge?</h3> 

            <h3>Look no further! What's in the Fridge?! is specially designed to help answer all of these questions (and more!)
          
        </div>

        <div class = "jumbotron text-black text-center">
          <h4>First, head over to your fridge and take inventory of food you have and would like to cook with</h4>
          <img class ="img-thumbnail" src="foodchecklist.jpg" alt="Checklist" width = "150" height = "150"> <br>

          <h4>Now, head over to the Find a Recipe page and click on all the food items you have written down</h4>
          <img class ="img-thumbnail" src="selectitems.jpg" alt="Checklist" width = "900" height = "700" > <br>

          <h4>Click on that handy-dandy Show Me the Recipes! button to view 10 healthy recipes</h4>
          <h4>Click on any of the links to be redirected to a third-party website to view the recipe</h4>
          <img class ="img-thumbnail" src="recipesfound.jpg" alt="Checklist" width = "700" height = "500" > <br> <br>

          <h4>The development team is hard at work adding new features and functionality daily! Some things to look out for in the future are:</h4>
          <h4>User accounts: store previous recipe searches, keep track of what recipe links you loved, find similiar recipes based on previous search history</h4>
          <h4>If you have any suggestions or feedback for the team, please contact us at cs3141WhatsintheFridge@yahoo.com</h4>

        </div>

      </body>

<%- include('../_partial/_footer'); %>