<%- include('../_partial/_header'); %>

    <h1>Log In Page </h1>
    <h3>Coming Soon!</h3>
    
    <label for="Username">Username:</label>
    <input type="text" id="Username" name="Name" placeholder="sampleUserName">
    <br>
    <label for="Password">Password:</label>
    <input type="text" id="Password" name="Password" placeholder="samplePassword">
    <br>
    <a href="/Create_Account">Create Account</a>

<%- include('../_partial/_footer'); %>