<%- include('../_partial/_header'); %>

    <head>
        <title>Log In Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>

      <body>

        <div class="container-fluid p-5 text-black text-center">
            <h1>Log In Page </h1> <br>
            <h3>Coming Soon!</h3>
        
        
        </div>
    
    <label for="Username">Username:</label>
    <input type="text" id="Username" name="Name" placeholder="sampleUserName">
    <br>
    <label for="Password">Password:</label>
    <input type="text" id="Password" name="Password" placeholder="samplePassword">
    <br>
    <button type="button" style="margin:5px">Log In</button>
    <br>
    <a href="/Create_Account">Create Account</a>

    </body>

<%- include('../_partial/_footer'); %>