<%- include('../_partial/_header'); %>

<head>
    <title>Healthy Recipes Found</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container-fluid p-5 text-black text-center">
        <h1>Healthy Recipes Found! </h1> <br>
    
    
    </div>

  </body>

    <script type="text/javascript">
        //this gives error saying "require is not defined"
        //var array = require("/Find_Recipe.ejs");
        //console.log(array);
    </script>

<%- include('../_partial/_footer'); %>